<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Long Nhật Badminton Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="~/Assets/css/bootstrappage.css" rel="stylesheet" />



    <!-- global styles -->
    <link href="~/Assets/css/main.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery.fancybox.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="~/Assets/js/jquery-1.7.2.min.js"></script>
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/superfish.js"></script>
    <script src="~/Assets/js/jquery.scrolltotop.js"></script>
    <script src="~/Assets/js/jquery.fancybox.js"></script>
    <script src="https://kit.fontawesome.com/c995d51d6c.js" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @Html.Partial("~/Views/Shared/_HeaderPartial.cshtml")
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            @Html.Action("NavigationPartial", "Home")
        </section>
        <section class="header_text sub">
            <img class="pageBanner" src="~/Assets/images/pageBanner.jpg" alt="New products">
        </section>
        @RenderBody()
        @Html.Action("Footer", "Home")
    </div>
    <script src="~/Assets/js/common.js"></script>
    <script>
        $(document).ready(function () {
            $('#checkout').click(function (e) {
                document.location.href = "checkout.html";
            })
        });
    </script>
</body>
</html>