@using PagedList.Mvc
@using OnlineShop.Models

@model IEnumerable<OnlineShop.Models.SanPham>

@{
    ViewBag.Title = "LoadProductsByMaNSX";
    Layout = "~/Views/Shared/_ProductDetailLayout.cshtml";
}

<div class="span9">
    <div class="navbar-header right" style="width: 100%">
        <label class="label label-important">Sắp xếp theo: </label>
        @using (Ajax.BeginForm("SortLoadProductByMaNSX", "Product", new { @maNSX = ViewBag.maNSX }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "sortResult" }, new { @style = "display:inline-block" }))
        {
            <select class="form-control" id="sortBy" name="sortBy">
                <option value="1">
                    Tên tăng dần
                </option>
                <option value="2">
                    Tên giảm dần
                </option>
                <option value="3">
                    Giá tăng dần
                </option>
                <option value="4">
                    Giá giảm dần
                </option>
                <option value="5">
                    Dưới 1.000.000đ
                </option>
                <option value="6">
                    1.000.000đ - 2.000.000đ
                </option>
                <option value="7">
                    Trên 2.000.000đ
                </option>
            </select>
        }
    </div>

    <div id="sortResult">
        @Html.Partial("~/Views/Product/SortSearchResult.cshtml", Model);
    </div>
</div>

<style>
    .product-box__sale {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 36px;
        border-top-right-radius: 3px;
        background-color: rgba(255,216,64,0.93);
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 12px;
        padding: 4px 0 3px 0;
    }

    .product-box__sale-value {
        color: #ee4d2d;
    }

    .product-box__sale-label {
        margin: 4px 0px;
        display: block;
        color: var(--white-color);
    }

    .product-box__sale::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        border-width: 0px 20px 5px 20px;
        border-style: solid;
        border-color: transparent rgba(255,216,64,0.93) transparent rgba(255,216,64,0.93);
    }

    .product-box__favourite {
        position: absolute;
        top: 10px;
        left: -5px;
        color: #EE4D2D;
        background-color: #EE4D2D;
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        padding-right: 4px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

        .product-box__favourite span {
            color: white;
        }

        .product-box__favourite::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            border-top: 4px solid #EE4D2D;
            border-left: 4px solid transparent;
            filter: brightness(70%);
        }

        .product-box__favourite i {
            font-size: 0.9rem;
            margin: 0 1px 0 4px;
            color: white;
        }
</style>

<script type="text/javascript">
    $("#sortBy").change(function () {
        $(this).parents("form").submit();
    });
</script>